@import '~antd/dist/antd.css';
.form{
    margin-top: 0.6%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(170, 131, 170);
    border: 1px solid gray;
    padding: 0.6%;
  }

.lineedit{
  margin-top: 4px;
  margin-bottom:4px ;
}

