@import '~antd/dist/antd.css';

.dynamic-delete-button {
    cursor: pointer;
    position: relative;
    top: 4px;
    font-size: 24px;
    color: rgb(255, 255, 255);
    transition: all .3s;
  }
.dynamic-delete-button:hover {
  color: rgb(86, 7, 102);
}
.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

