@import '~antd/dist/antd.css';
body {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, rgb(80, 15, 105), #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


.Main-title{
  text-align: center;
  font-size:5vw;
  color: rgb(196, 186, 186);
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(182, 115, 190), 0 0 5px rgb(60, 9, 73);
}


.Chef{
	width: 25%;
	height: 50%;
	margin-left: 38%;
}

.btn_add {
  height: 25%;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 6%;
  padding-right: 6%;
  border: 1px solid gray;
  background-image:linear-gradient( rgba(114, 12, 109, 0.925), #858585);
  }

  .Form{
    text-align: center;
    content: 50px;
    background-color: rgb(182, 115, 190);
    border: 1px solid gray;
  }

.vege{
	width:5em;
	height:5em;
}

#pot{
	top: 5%;
	z-index: -1;
	position:absolute;
	-webkit-animation:linear infinite alternate;
	-webkit-animation-name: run_pot;
	-webkit-animation-duration: 10s;
	}     
@-webkit-keyframes run_pot {
		0% { left: 0;}
		50%{ left : 40%;}
		100%{ left: 0;}
}

#tom{
	top: 5%;
	z-index: -1;
	position:absolute;
	-webkit-animation:linear infinite alternate;
	-webkit-animation-name: run_tom;
	-webkit-animation-duration: 10s;
	}     
@-webkit-keyframes run_tom {
		0% { right: 0;}
		50%{ right : 40%;}
		100%{ right: 0;}
}